<!DOCTYPE html>
<html dir="rtl">
    <head>
        <title>
            ارسال ایمیل بازیابی با موفقیت انجام شد
        </title>
    </head>
    <body style="text-align: center;">
        <div>
            <h1>
                تقاضای ریست رمز فرستاده شد.
            </h1>
            <p>
                دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر برای ایمیلی که وارد کردید اکانتی وجود داشته باشد باید دستورالعمل را دریافت کرده باشید.
            </p>
            <p>
                اگر ایمیلی دریافت نکردید حتما بررسی کنید آدرسی که وارد کردید همان آدرسی است که با آن ثبت نام کرده اید و یا پوشه ی اس\م خود را چک کنید.
            </p>
        </div>
    </body>
</html>